body{
    background:#f2f2f2;
    margin:0;
}

main{
    background:#fff;
    height:50vh;
    transform:translateX(50%) translateY(50%);
    width:50vw;
    
    h1{
        margin:0;
    }
}

footer{
    width:100vw;
    position:fixed;
    bottom:0;
}