section(id="theApp")
   
    button(type="button" id="post-btn") Post
    ul(id="settings")
        li
            i(class="material-icons") phonelink_ring
            input(type="text" id="post_to_wall_id",placeholder="no wall")
    ul(id="messages")
    