section(id="theApp")
   
    a(href="#" id="post-btn") splatter
    ul(id="settings")
        li
            i(class="material-icons") phonelink_ring
            input(type="text" id="post_to_wall_id",placeholder="no wall")
    ul(id="messages")
    