section(id="theApp")
    input(type="text" id="post_to_wall_id")
    button(type="button" id="post-btn") Post
    ul(id="settings")
        li
            i(class="material-icons") phonelink_ring
    ul(id="messages")
    