html
    head
        title Splatter Wall
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(href='index.css', rel='stylesheet',type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900", rel="stylesheet")
    body
    main
       
        include components/theWall/the_wall.pug
        include components/theApp/the_app.pug
        
    footer
        span(id='numberOfConnections') #
        span(id='orientation') #
        span(id='position') #
    script(src="https://socketize.com/v1/socketize.min.js")
    script(src="index.js")
