html
    head
        title Splatter Wall
        link(href='index.css', rel='stylesheet',type="text/css")
    body
    main
       
        include components/theWall/the_wall.pug
        
        include components/theApp/the_app.pug
        
    footer
        span(id='numberOfConnections') #
        span(id='orientation') #
        span(id='position') #
    script(src="https://socketize.com/v1/socketize.min.js")
    script(src="index.js")
