html
    head
        title Splatter Wall
        link(href='index.css', rel='stylesheet',type="text/css")
    body
    main
        h1 Splatter Wall
        <ul id="messages"></ul>
        <button type="button" id="post-btn">Post</button>
    footer
        span(id='numberOfConnections') #
        span(id='orientation') #
        span(id='position') #
    script(src="https://socketize.com/v1/socketize.min.js")
    script(src="index.js")
